<div class="row">
  <div class="col-xl-2">
    <% if session[:user] && session[:user].id == @ascent.user.id %>
      <p><a class="btn btn-outline-secondary btn-sm" href="/ascents/<%= @ascent.id %>/edit">Edit Ascent</a></p>
    <% end %>
  </div>
  <div class="col-xl-10">
        <h4><a class="text-secondary" href="/peaks/<%= @ascent.peak.id %>"><%= @ascent.peak_name %></a> - <%= @ascent.peak.elevation_str %> ft</h4>
        <p>Climbed on <%= @ascent.date_display %> by <a class="text-secondary" href="/users/<%= @ascent.user.id %>"><%= @ascent.user_name %></a>.</p>
        <p>Notes:</p>
        <p><%= h(@ascent.note) %></p>
    

  </div>
</div>