<div class="row">
  <div class="col-xl-2">
    <% if session[:user] %>
      <p><%= @peak.num_ascents_by_user_message(session[:user]) %></p>
      <p><a class="btn btn-outline-secondary btn-sm" href="/ascents/add_ascent/<%= @peak.id %>">Add Ascent</a></p>
    <% end %>
  </div>
  <div class="col-xl-10">
    <div class="row">
      <div class="col-md-4">
        <h4><%= @peak.name %> - <%= @peak.elevation_str %> ft</h4>
        <p><%= @peak.county %> county, <%= @peak.state %></p>
        <table>
          <tr>
            <th>Prominence:</th>
            <td><%= @peak.prominence_str %> feet</td>
          </tr>
          <tr>
            <th>Isolation:</th>
            <td><%= @peak.isolation %> miles</td>
          </tr>
          <tr>
            <th>Parent:</th>
            <td><%= @peak.parent %></td>
          </tr>
          <tr>
            <th>USGS Quad:</th>
            <td><%= @peak.quad %></td>
          </tr>
        </table>
      </div>
      
      <div class="col-md-8">
        
        <% if @peak.num_ascents > 0 %>
        <h4  class="table-title">Ascents <span class="badge badge-secondary"><%= @peak.num_ascents %></span></h4 >
        <table>
          <thead>
            <tr>
              <th>Climber</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @peak.ascents.each do |ascent| %>
            <tr>
              <td><a class="text-secondary" href="/users/<%= ascent.userid %>"><%= ascent.user_name %></a></td>
              <td><%= ascent.date %></td>
              <td><a class="btn btn-outline-secondary btn-sm" href="/ascents/<%= ascent.id %>">Details</a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
        
      </div>
      
    </div>

  </div>
</div>