<div class="row">
  <div class="col-xl-2">
    <p>Click on column headings to sort by that column. Click again to reverse the sort order.</p>
    <p>Click on a peak's name to see more details about a peak.</p>
  <% if session[:user] %>
    <p>Click 'Add' to add a peak to your list of ascents.</p>
  <% else %>
    <p>Sign in to log ascents. Sign up if you don't have an account.</p>
  <% end %>
  </div>
  <div class="col-xl-10">
    <table>
      <thead>
        <tr>
        <% @sort_links.each do |sort_link| %>
          <th><%= sort_link %></th>
        <% end %>
        <% if session[:user] %>
          <th></th>
        <% end %>
        </tr>
      </thead>
      <tbody>
        <% @peaks.each do |peak| %>
        <tr>
          <td><a class="text-secondary" href="/peaks/<%= peak.id %>"><%= peak.name %> <span class="badge badge-secondary"><%= peak.num_ascents_by_user(session[:user]) %></span></a></td>
          <td><%= peak.elevation_str %> ft</td>
          <td><%= peak.prominence_str %> ft</td>
          <td><%= peak.isolation %> mi</td>
          <td><%= peak.parent %></td>
          <td><%= peak.county %></td>
          <td><%= peak.state %></td>
          <td><%= peak.quad %></td>
          <% if session[:user] %>
          <td><a class="btn btn-outline-secondary btn-sm" href="/ascents/add_ascent/<%= peak.id %>">Add</a></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
